.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-style: none;
	border-radius: 4px;
	float: right;
	margin: 11px 30px 0px 0px;
}

.filters button:hover {
	opacity: 90%;
}

.filters div {
	height: 100%;
	width: 25%;
	display: inline-block;
	margin-left: 50px;
}

.filters div h3 {
	font-weight: 600;
	margin-top: 12px;
	margin-bottom: -12px;
}

.filters div h4 {
	font-weight: 400;
	font-size: 14px;
}

.filters div.locations {
	border-right: 1px solid #DDDDDD;
}
