.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.filters div {
	height: 100%;
	width: 25%;
	display: inline-grid;
	margin-left: 50px;
}

.locations:hover .popover,
.amenities:hover .popover {
	display: block;
}

.filters div h3 {
	font-weight: 600;
	margin-top: 12px;
	margin-bottom: -12px;
}

.filters div h4 {
	font-weight: 400;
	font-size: 14px;
}

.filters div.locations {
	border-right: 1px solid #DDDDDD;
}

ul.popover {
	background-color: #FAFAFA;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: none;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 1;
}

.filters .amenities ul.popover {
	margin: -2px -54px;
	padding-bottom: 55px;
}

.filters .locations .popover li {
	margin-left: -10px;
}

.filters ul {
	list-style: none;
	margin-left: -10px;
}

.filters ul.popover li {
	padding-bottom: 5px;
}

.filters ul.popover ul {
	padding-bottom: 5px;
}

.filters h2 {
	margin-top: 0px;
	margin-bottom: auto;
	padding-bottom: 5px;
}

.filters .locations ul.popover {
	margin-left: -51px;
	margin-top: -2px;
	padding-bottom: 40px;
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-style: none;
	border-radius: 4px;
	float: right;
	margin: 11px 30px 0px 0px;
}

.filters button:hover {
	opacity: 90%;
}
