.places {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.places h1 {
	font-size: 30px;
	text-align: left;
	vertical-align: top;
	width: 96%;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
}

.places article h2 {
	font-size: 30px;
	padding-bottom: inherit;
}
